.dropdown {
  background: #E5E9F2;
  width: 200px;
  border-radius: 4px;
  position: absolute;
  left: 0px;
  z-index: 1000;
}
.commonnode, .parentnode {
  margin-bottom: 3px;
}
.commonnode>span, .parentnode>span {
  margin-bottom: 2px;
  cursor: pointer;
}
.parentnode {
  position: relative;
}
.partSelect {
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  background: #7abbff;
  border-radius: 3px;
  top: 4px;
  position: relative;
}
.partSelect::before{
  content: "";
  width: 8px;
  height: 2px;
  background: #fff;
  display: inline-block;
  position: absolute;
  top: 5px;
  left: 2px;
}